* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    /* font-size: 1rem; */
    box-sizing: border-box;

}

h5 {
    font-size: 1rem;
    font-weight: normal;
}

ul {
    padding-left: 0px;
}

/* ---------------------NavBar--------------------------- */
.nav {
    background-color: #23252b;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    display: flex
}

.nav ul li {
    list-style: none;
}

.list-nav {
    display: flex;

}

.nav-blocks2 {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.list-nav2 {
    display: flex;
}

.list-nav2 li {
    width: 50px;
}

.list-nav2 li a {
    width: 100px;
}

.nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    background-color: #23252b;
    padding: 10px;
    width: auto;
    height: 75px;
    border-color: #23252b;
    justify-content: center;
}

.nav ul li a:hover {
    border-bottom: solid 4px #f47521;
}

/* ---------------------Main--------------------------- */

main {
    height: calc(100vh - 100% - 100%);

}

.contx {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(96, 73, 35, 1) 38%, rgba(215, 138, 52, 1) 73%, rgba(255, 160, 0, 1) 100%);
    padding: 0px 10px 10px 10px;
}

.conteiner-carousel {
    height: 300px;
    overflow: hidden;
}

.carousel-indicators {
    position: static;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.carousel {

    margin-left: 12%;
    height: 100%;
    position: relative;
    width: 75%;
    transition: 1sec;
}

.btn-carousel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5%;
}

.btn-carousel a i svg {
    color: #f47500;
}

.btn-carousel a {
    text-decoration: none;
}

.items-carousel {
    background-color: black;
    border-bottom: 1px solid #f47500;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5em;
    height: 80px;
}

.items {

    align-items: center;
    background-color: #23252b;
    border-radius: 1%;
    width: 10em;
    height: 3.5em;
    display: flex;
    justify-content: center;

}

.carr-index {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(96, 73, 35, 1) 38%, rgba(215, 138, 52, 1) 73%, rgba(255, 160, 0, 1) 100%);
}

.items:hover {
    background-color: #f47500;
}

.items a {
    text-decoration: none;
    color: white;
}

.contenedor-info-1 {
    color: white;
    width: 800px;
    border: 1px solid #f47500;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;

}

.contenedor-info-1 button:hover {
    background-color: #f47500;
}

.text {
    background-color: black;
    height: 40px;
    width: 100%;
    color: aliceblue;
    padding-left: 10px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.contenedor-info-card {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
}

.contenedor-info-img {
    background-size: 100%;
    width: 300px;
}

.contenedor-info {
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    background-color: rgb(1 1 2);
}

.carousel-item img {
    width: 100%;
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0%;
    height: auto;
    width: 100px;
    border: 1px solid transparent;
    margin: 10px;
    border-radius: 10px;
}

.contenedor-info button {
    margin-top: 130px;
    align-items: center;
    border: 1px solid #23252b;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    justify-content: center;
}


.transform:hover {
    background-color: rgb(103, 104, 110);
}

/* ---------------------Formulario--------------------------- */
#form input {
    padding: 5px;
    border-radius: 10px;
}

.main-form-title {
    width: 70%;
    border-bottom: 5px solid #2abdbb;
    color: rgb(255, 255, 255);
    letter-spacing: 3px
}

.conteiner-formulario {
    border: 1px solid #000000;
    width: 700px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0.521111;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}

.conteiner-formulario textarea {
    resize: none;
}

#input-form:hover {
    background-color: #f47500;
}

.form-inputs3 {
    display: flex;
    margin-top: 2px;
    justify-content: center;
}

.form-inputs3 input {
    border: 1px solid #23252b;
    border-radius: 12px;
    padding: 5px;
}

.main-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(196, 134, 44, 1) 52%, rgba(255, 151, 0, 1) 100%);
}

.form-inputs1 {
    display: flex;
    flex-direction: column;
}

.form-inputs2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.form-inputs2 input {
    width: 100%;
}

.form-section1 {
    display: flex;
    justify-content: space-between;

}

/* -------------------------SobreNosotros-------------------------- */

.about-us {
    background-color: #000000;
    width: 100%;
}

.contenedor-about {
    width: 100%;
    display: flex;
    align-items: center;
    background: url(https://www.todofondos.net/wp-content/uploads/3840x2160-Ultra-HD-Anime-Girls-4K-Ultra-HD-Wallpaper-Descargar-4K-Desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: end;
    background-position-y: -100px;
}

.main-imagen-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-icon {
    color: #f47500;
    background-color: #000000;
    height: 230px;
    width: 100%;
}

.main-imagen-logo {
    display: flex;
    justify-content: space-evenly;
}

.main-imagen-logo h1 {
    font-size: 2.7rem;
    letter-spacing: 6px;

}

.info-dev-img img {
    border: 2px solid #f47500;
    width: 200px;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    bottom: 150px;
}

.main-img-fondo img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border-bottom: 2px solid black;
}

.info-card {
    height: 150px;
}

.main-img-fondo {
    width: 100%;
    height: 310px;
}

.info-dev {
    background-color: aliceblue;
    width: 250px;
    height: 200px;
    border-radius: 10%;
    border: 1px solid #f47500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-dev-img {
    height: 80px;
}

.dev-img {
    text-align: center;
}

.card-info-dev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

.card-info-btn a {
    color: #f37400
}

.colors-dev1:hover {
    color: #3a4ed5
}

.colors-dev2:hover {
    color: #171515
}

.colors-dev3 svg:hover {
    border-radius: 5.5px;
    border: 1px solid #fd584969;
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.stats-us {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 60%;
    height: auto;
    border: 1px solid #f37400;
    border-radius: 10px;
    margin: 10px;
    background-color: #23252b;
}

.img-us {
    width: 40%;

}

.img-us img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.tag-us {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tag-us h3 {
    letter-spacing: 0.2rem;
}

.item-us {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title-about-us {
    border-bottom: 1px solid white;
    letter-spacing: 0.5rem;
    width: 50%;
}

/*-----------------------Explorar---------------------------*/
.contenedor-shop {

    justify-items: center;
}

.contenerdor-shop-title {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-section-shop {
    padding: 10px;
    background-color: #23252b;
    border-radius: 10px;
}

.shop-grid {
    justify-content: center;
    border-top: 3px solid #2abdbb;
    display: flex;
    gap: 1rem;
}

.content-card-shop {
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}

.content-card-shop button {
    display: flex;
    background: none;
    border: 1px solid #23252b;
    align-items: center;
    padding: 5px;
    border-radius: 10%;
    cursor: pointer;
}

.content-card-shop button:hover {
    background-color: rgb(219, 205, 205);

}

.shop-cart {
    border-radius: 10px;
    background-color: #f3750050;
    margin: 10px;
    padding: 10px;
    border: 1px solid #23252b;
}

.shop-cart:hover {
    transition: all 0.5s;
    box-shadow: 0px 2px 14px 7px rgba(255, 255, 255, 0.76);
    -webkit-box-shadow: 0px 2px 14px 7px rgba(255, 255, 255, 0.76);
    -moz-box-shadow: 0px 2px 14px 7px rgba(255, 255, 255, 0.76);
}

.img-cart {
    width: 12rem;
}

.shop-cart img {
    border-radius: 5%;
    width: 100%;
}

/* --------------------Tienda------------------------ */
.head-shop {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    letter-spacing: 10px;
}

.contenerdor-shop-titless {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #f47500;
    width: 80%;
    margin-left: 10%;
}

.contenerdor-shop-titless h1 {
    font-size: 1.9rem;
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.contenedor-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 151, 0, 0.727328431372549) 23%, rgba(255, 255, 255, 1) 49%, rgba(255, 151, 0, 1) 67%, rgba(7, 5, 1, 1) 90%);
}

.shop-carts {
    background-color: #23252b;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #f47500 0%, #3a4ed5 100%) 1;
    display: flex;
    padding: 10px;
    margin: 10px;

}


.btn-buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tienda-informacion {

    margin-left: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.price-buy {
    background-color: #bbbbbb;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.price-buy p {
    font-size: 0.9rem;
    color: gray;
    letter-spacing: 1px;
    text-decoration: line-through;
}

.price-abs p {
    width: 52px;
    color: white;
    transform: rotate(40deg);
    font-weight: 100;
    left: 754px;
    bottom: 23px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.price-abs {
    position: absolute;
    top: -6px;
    left: 21px;
}

.price-buy {
    position: relative;
    margin-right: 14px;
}

.gradiant-btn {
    display: flex;
    width: 104px;
    height: auto;
    justify-content: center;
    border-radius: 2rem;
    background: linear-gradient(100deg, #f47500 25%, #3a4ed5 75%);
    background-repeat: repeat;
    align-items: center;

}

.btn-buy button {
    width: 100px;
    border: transparent;
    letter-spacing: 0.2em;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    height: 27px;
    background: grey;
}

.gradiant-btn:hover {
    color: #f37400;
    background: linear-gradient(100deg, #3a4ed5 25%, #f47500 75%);
}

.gradiant-btn button:hover {
    color: #f37400;
}

.shop1 {
    grid-column: 1/3;
    grid-row: 1;
}

.shop2 {
    grid-row: 2;
    grid-column: 2/4;
}

.shop3 {
    grid-column: 1/3;
    grid-row: 3;
}

.shop4 {
    grid-row: 4;
    grid-column: 2/4;
}

.shop5 {
    grid-column: 1/3;
    grid-row: 5;
}

.animations1 {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.animations2 {

    -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

@keyframes scale-up-hor-right {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}


/* ---------------------Footer--------------------------- */

footer {
    border-top: solid 1px black;
    padding: 1em 0;
    padding-top: 10px;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(115, 115, 168));
}

.content-footer {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
}

.content-footer-box {
    display: flex;
    justify-content: center;

}

.content-footer-box div ul li {
    cursor: pointer;
    list-style: none;
    color: white;
}

.content-footer-box div h4 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.content-footer-box div ul li a {

    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content-footer-box div ul li:hover {
    color: #f47500
}

.content-footer-box div ul li a:hover {
    color: #f47500
}

.content-footer-box div {
    padding: 5%;
}

.footer2 {
    border-top: solid 1px grey;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    justify-content: space-around;
    color: white;
}

.footer2 select {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.footer3 {
    display: flex;
    flex-direction: column;
}

.footer-mbl {
    display: none;
}

@media (max-width: 576px) {

    /* ----------HOME---------------- */
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .carousel-item img {
        height: auto;
    }

    .carousel {
        margin-left: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .carousel-indicators [data-bs-target] {
        text-indent: -999999px;
        border: 1px solid transparent;
        margin: 10px;
        height: 3px;
        width: 50px;
    }

    .contenedor-info-card {
        justify-content: center;
    }

    .contenedor-info-card h2 {
        letter-spacing: 0.3rem;
        color: #f37400;
    }

    .contenedor-info-1 {
        width: 80%;
        flex-direction: column;
        align-items: center;
        border: 1px solid #fff;
    }

    .contenedor-info-img {

        width: 81%;
    }

    .contenedor-info-img img {
        border-radius: 10px;
    }

    .contenedor-info button {
        border-radius: 20px;
        margin: 0px
    }

    /* ----------TIENDA-------------- */
    .contenerdor-shop-titless h1 {
        font-size: x-large;
    }

    .shop-carts {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    .shop-carts img {
        width: 100%;
    }

    .contenedor-tienda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-buy {
        justify-content: space-around;
        padding: 10px;
    }

    .tienda-informacion p {
        text-align: initial;
        font-size: 15px;
    }

    .btn-buy button {
        font-size: 0.8rem;
        height: 34px;
    }

    /* ---------Formulario----------- */
    .main-content {
        background-image: url(https://www.tematika.com/media/catalog/Ilhsa/Imagenes/683542.jpg);
        background-size: cover;
    }

    .conteiner-formulario {
        color: black;
        font-weight: bolder;
        background-color: #f375008f;
        opacity: initial;
        width: 80%;
        border-radius: 10px;
    }

    .main-form-title {
        background-color: #f3750052;
        width: 100%;
        text-align: center;
    }

    .form-inputs2 input {
        width: 93%;
    }

    /* ---------Sobre Nosotros------- */
    .main-img-fondo img {
        border-bottom: 2px solid white;
    }

    .main-imagen-logo {
        flex-direction: column;
    }

    .info-dev {
        width: 69%;
        border-radius: 10px;
        height: auto;
    }

    .info-dev-img {
        height: 58px;
    }

    .stats-us {
        width: 80%;
        flex-direction: column;
        opacity: 0.97;
    }

    .img-us {
        display: none;
    }

    .contenedor-about {
        background: url("https://i.blogs.es/93ef0f/blue-lock/450_1000.jpeg");
        flex-direction: column;
    }

    .title-about-us {
        width: 80%;
        text-align: center;
    }

    .main-imagen-logo h1 {
        font-size: 1.7rem;
    }

    /* ---------mbl-footer----------- */
    .content-footer {
        display: none;
    }

    .footer-mbl {
        display: flex;
        justify-content: space-around;
    }

    footer {
        border-top: solid 1px #f37400;
        padding: 0.9em;
        width: 100%;
        position: sticky;
        bottom: 0;
        background: #23252b;
        color: white;
    }

    .list-nav li:nth-child(1n + 2) {
        display: none;
    }

    .list-nav2 li:nth-child(1n + 2) {
        display: none;
    }

    .icons-footer-mbl a {
        text-decoration: none;
        color: white;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .icons-footer-mbl svg {
        color: #f37400;
    }
}