$var-color-background: rgb(0,0,0);
$var-color-background-gradiant:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(96, 73, 35, 1) 38%, rgba(215, 138, 52, 1) 73%, rgba(255, 160, 0, 1) 100%);
$var-color-carousel: black ;
$var-items-bg-color: #23252b;
$var-color-bg-carr-index:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(96, 73, 35, 1) 38%, rgba(215, 138, 52, 1) 73%, rgba(255, 160, 0, 1) 100%);
$var-color-font : #f47500;
$var-bg-color-hover:#f47500;
$var-bg-color-btn-hover: white;
$var-bg-color-target : rgb(103, 104, 110);
$var-bg-color-contenedor-info:black ;
$var-color-font-cards: white; 
$var-border-content:  1px solid #f47500; 
$var-border-content-buttons:1px solid #23252b ;

$var-bg-color-shop-gradiant:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 151, 0, 0.7273284314) 23%, rgba(255, 255, 255, 1) 49%, rgba(255, 151, 0, 1) 67%, rgba(7, 5, 1, 1) 90%);
$var-bg-color-shop: #23252b ;
$var-border-image: linear-gradient(to bottom, #f47500 0%, #3a4ed5 100%) 1;
$var-bg-price-buy : #bbbbbb;
$var-color-p : gray; 


$var-bg-about : aliceblue;
$var-bg-stats-us: #23252b;

$var-shop-product : rgb(238, 238, 238);
$var-grandiant-shop: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(244, 117, 0, 1) 82%);
$var-list-bg: #eee;
$var-color-a: black;
$var-shop-product-bg-hover:rgb(219, 205, 205);

$var-bg-color-main-contact: rgb(0, 0, 0);
$var-bg-grandiant-main-contact:linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(196, 134, 44, 1) 52%, rgba(255, 151, 0, 1) 100%);
